{% extends "crmapp/base.html" %}
{%block body_block%}
    <h1>Address Details</h1>
    <ol>
        <h3><li>Street: {{address.street}}</li></h3>
        <h3><li>City: {{address.city}}</li></h3>
        <h3><li>State: {{address.state | upper}}</li></h3>
        <h3><li>Zip: {{address.zip}}</li></h3>
        <h3><li>County: {{address.county}}</li></h3>
        <h3><li><a href="/delete/{{address.id}}">Delete</a></li></h3>
        <h3><li><a href="/update/{{address.id}}">Update</a></li></h3>
    </ol>
{%endblock%}