<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/address">Addresses</a></li>
                    <li><a href="/buildingtype">Building Type</a></li>
                    <li><a href="/building">Building</a></li>
                    <li><a href="/vehicle">Vehicle</a></li>
                    <li><a href="/policytype">Policy Type</a></li>
                    <li><a href="/agency">Agency</a></li>
                    <li><a href="/agent">Agent</a></li>
                    <li><a href="/customer">Customer</a></li>
                    <li><a href="/policy">Policy</a></li>
                    <li><a href="/policycustomer">Policy Customer</a></li>
                </ul>
            </nav>
        </header>
        {%block body_block%}
        {%endblock%}
    </body>
</html>