{% extends "crmapp/base.html" %}
{%block body_block%}
    <h1>Policy Customer:</h1>
    <table border="2">
        <thead>
            <th>ID</th>
            <th>policy</th>
            <th>customer</th>
        </thead>
        {% for i in policycustomer_list %}
        <tr>
            <td><a href="/{{i.id}}">{{i.id}}</a></td>
            <td>{{i.policy}}</td>
            <td>{{i.customer}}</td>
        </tr>
        {% endfor %}
    </table>
    <br/><br/><br/>
    <a href="/policycustomercreate">Add Policy Customer</a>
{%endblock%}